html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: default;
    font-family: "Raleway";
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

// HEADER & FOOTER SECTION ===================
.header {
    z-index: 300;
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 17px 160px;
    width: calc(100% - 320px);
    position: absolute;
    top: 0;
    left: 0;
    &__logo-container {
        display: flex;
        align-items: center;
        margin-right: 63px;
        .logo {
            width: 48px;
            height: 48px;
            min-width: 48px;
            min-height: 48px;
            max-width: 48px;
            max-height: 48px;
            margin-right: 15px;
        }
        .logo-caption {
            font-feature-settings: "pnum" on, "lnum" on;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #060e17;
        }
    }
    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 600px;
        margin-right: auto;
        .navigation-link {
            font-feature-settings: "pnum" on, "lnum" on;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
            transition: all 0.3s ease;
            margin-right: 48px;
            &:hover {
                color: #4598f6;
            }
        }
    }
    &__phone {
        font-feature-settings: "pnum" on, "lnum" on;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-right: 61px;
        transition: all 0.3s ease;
        font-feature-settings: "pnum" on, "lnum" on;
        a {
            font-feature-settings: "pnum" on, "lnum" on;
            &:hover {
                color: #4598f6;
            }
        }
    }
    &__apply {}
}

.footer {
    z-index: 300;
    display: flex;
    align-items: flex-start;
    background-color: #fff;
    padding: 17px 160px;
    width: calc(100% - 320px);
    flex-direction: column;
    .footer-row {
        width: 100%;
        display: flex;
        align-items: flex-start;
        &--smalled {
            display: flex;
            border-top: 1px solid #f2f3f5;
            padding-top: 18px;
            padding-bottom: 18px;
            .company-name,
            .company-privacy,
            .company-agreement {
                font-feature-settings: "pnum" on, "lnum" on;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #b8bcc2;
                margin-right: 58px;
                transition: all 0.3s ease;
            }
            .company-developer {
                font-feature-settings: "pnum" on, "lnum" on;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #b8bcc2;
                margin-left: auto;
                transition: all 0.3s ease;
            }
            .company-privacy,
            .company-agreement,
            .company-developer {
                transition: all 0.3s ease;
                &:hover {
                    color: #4598f6;
                }
            }
        }
    }
    .logo-container {
        display: flex;
        align-items: center;
        width: 25%;
        .logo {
            width: 48px;
            height: 48px;
            min-width: 48px;
            min-height: 48px;
            max-width: 48px;
            max-height: 48px;
            margin-right: 15px;
        }
        .logo-caption {
            font-feature-settings: "pnum" on, "lnum" on;
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #060e17;
        }
    }
    .navigation {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
        .navigation-link {
            font-feature-settings: "pnum" on, "lnum" on;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
            transition: all 0.3s ease;
            margin-bottom: 24px;
            &:hover {
                color: #4598f6;
            }
        }
    }
    .contacts {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: start;
        .phone {
            font-feature-settings: "pnum" on, "lnum" on;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
            margin-bottom: 24px;
            transition: all 0.3s ease;
            font-feature-settings: "pnum" on, "lnum" on;
            &:hover {
                color: #4598f6;
            }
        }
        .mail {
            font-feature-settings: "pnum" on, "lnum" on;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
            margin-bottom: 24px;
            transition: all 0.3s ease;
            &:hover {
                color: #4598f6;
            }
        }
        .social {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-start;
            &:hover {
                .social-icon {
                    transition: all 0.3s ease;
                    background: linear-gradient( 45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
                    img {
                        filter: invert(1);
                    }
                }
                .social-link {
                    transition: all 0.3s ease;
                    color: #962fbf;
                }
            }
            .social-icon {
                width: 40px;
                height: 40px;
                margin-right: 10px;
                background: #f2f3f5;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease;
            }
            .social-link {
                font-feature-settings: "pnum" on, "lnum" on;
                font-weight: 500;
                font-size: 18px;
                line-height: 40px;
                color: #000000;
                transition: all 0.3s ease;
            }
        }
    }
    &__apply {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-left: auto;
    }
}

.mobile-header,
.mobile-menu {
    display: none;
}

// =================== HEADER & FOOTER SECTION
// MAIN SECTION ===================
.main {
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow-y: hidden;
    width: 100%;
    .section {
        padding: 96px 160px 28px;
        width: calc(100% - 320px);
        display: flex;
        overflow-x: hidden;
    }
    .section-header {
        font-feature-settings: "pnum" on, "lnum" on;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        color: #000000;
        margin-bottom: 64px;
        max-width: 636px;
    }
    .section-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &--greeting {
        padding: 153px 160px 96px !important;
        background: #f2f3f5;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: relative;
        .blue-circle {
            position: absolute;
            background: rgba(58, 114, 255, 0.2);
            filter: blur(120px);
            z-index: 1;
            &--left {
                width: 295px;
                height: 267px;
                left: 672px;
                top: 433px;
            }
            &--right {
                width: 663px;
                height: 561px;
                left: 1105px;
                top: -33px;
            }
        }
        .greeting-container {
            z-index: 100;
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-top: 65px;
            .greeting-header {
                font-feature-settings: "pnum" on, "lnum" on;
                font-weight: 700;
                font-size: 64px;
                line-height: 75px;
                color: #000000;
                margin-bottom: 32px;
            }
            .greeting-subheader {
                font-feature-settings: "pnum" on, "lnum" on;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                color: #000000;
                margin-bottom: 70px;
                font-feature-settings: "pnum" on, "lnum" on;
                &__link {
                    color: #4598f6;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .greeting-button {
                width: 50%;
            }
        }
        .greeting-image {
            transition: all 0.3s ease;
            z-index: 100;
            &:hover {
                transform: scale(1.1);
            }
        }
        .stats-container {
            margin-top: 32px;
            display: flex;
            flex-direction: column;
            align-items: start;
            &__header {
                font-feature-settings: "pnum" on, "lnum" on;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                color: #000000;
                margin-bottom: 16px;
            }
            &__cards {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: flex-start;
            }
            &__card {
                min-width: 352px;
                width: 33%;
                max-height: 138px;
                height: 138px;
                padding: 24px;
                background-color: #fff;
                margin-right: 24px;
                display: flex;
                flex-direction: column;
                align-items: start;
                border-radius: 8px;
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(1.1);
                }
                .card-image {
                    margin-bottom: 12px;
                }
                .card-header {
                    font-feature-settings: "pnum" on, "lnum" on;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28px;
                    color: #000000;
                    font-feature-settings: "pnum" on, "lnum" on;
                }
                .card-content {
                    font-feature-settings: "pnum" on, "lnum" on;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #9097a3;
                    margin-top: 8px;
                    font-feature-settings: "pnum" on, "lnum" on;
                }
            }
        }
    }
    &--advert {
        .adverter-container {
            background: #4598f6;
            border-radius: 24px;
            padding: 18px 107px 18px 56px;
            width: calc(100% - 163px);
            display: flex !important;
            justify-content: space-between;
            &:hover {
                .adverter-container__image {
                    transition: all 0.3s ease;
                    transform: scale(1.1);
                }
            }
            .content {
                max-width: 636px;
                margin-top: 54px;
            }
            &__image {
                transition: all 0.3s ease;
            }
            &__header {
                font-feature-settings: "pnum" on, "lnum" on;
                font-weight: 700;
                font-size: 48px;
                line-height: 56px;
                color: #ffffff;
                margin-bottom: 24px;
            }
            &__subheader {
                font-feature-settings: "pnum" on, "lnum" on;
                font-weight: 500;
                font-size: 20px;
                line-height: 23px;
                color: #ffffff;
                margin-bottom: 112px;
                max-width: 530px;
            }
            &__download {
                display: flex;
                align-items: center;
                .download-link {
                    width: 200px;
                    height: 59px;
                    margin-right: 24px;
                    display: block;
                    background-repeat: no-repeat;
                    transition: all 0.3s ease;
                    &:hover {
                        transform: scale(1.1);
                    }
                    &--google {
                        background-image: url("./assets/images/content/main__google.svg");
                    }
                    &--apple {
                        background-image: url("./assets/images/content/main__apple.svg");
                    }
                }
            }
        }
    }
    &--ability {
        display: flex;
        flex-direction: column;
        align-items: start;
        .ability-container {
            width: 100%;
            margin-bottom: 48px;
            display: flex;
            align-items: flex-start;
            &__card {
                margin-right: 80px;
                display: flex;
                flex-direction: column;
                width: 344px;
                align-items: start;
                &:hover {
                    .card-image {
                        transition: all 0.3s ease;
                        transform: scale(1.5);
                    }
                }
                .card-image {
                    margin-bottom: 20px;
                    transition: all 0.3s ease;
                }
                .card-header {
                    font-feature-settings: "pnum" on, "lnum" on;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 23px;
                    color: #000000;
                    margin-bottom: 12px;
                }
                .card-content {
                    font-feature-settings: "pnum" on, "lnum" on;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #9097a3;
                }
            }
        }
    }
    &--everybody {
        display: flex;
        flex-direction: column;
        padding-bottom: 96px !important;
        .section-header {
            width: 100%;
            max-width: 100%;
        }
        .everybody-container {
            display: flex;
            align-items: flex-start;
            border-radius: 24px;
            padding-left: 48px;
            padding-top: 48px;
            width: calc(100% - 48px);
            position: relative;
            height: 512px;
            margin-bottom: 32px;
            overflow: hidden;
            &--blue {
                background: #8ec3ff;
            }
            &--yellow {
                background: #facb54;
            }
            &--green {
                background: #6bc88e;
            }
            &__box {
                display: flex;
                flex-direction: column;
                align-items: start;
                max-width: 530px;
            }
            &__counter {
                color: rgba(255, 255, 255, 0.4);
                font-feature-settings: "pnum" on, "lnum" on;
                font-weight: 700;
                font-size: 40px;
                line-height: 47px;
                margin-bottom: 32px;
            }
            &__header {
                font-feature-settings: "pnum" on, "lnum" on;
                font-weight: 700;
                font-size: 32px;
                line-height: 38px;
                color: #ffffff;
                margin-bottom: 20px;
            }
            &__list {
                margin-top: -20px;
                list-style: disc;
                margin-left: 40px;
            }
            &__content {
                font-feature-settings: "pnum" on, "lnum" on;
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #ffffff;
            }
            &__subheader {
                margin-bottom: 21px;
            }
            &:hover {
                .everybody-container__image {
                    transition: all 0.3s ease;
                    transform: scale(1.1);
                }
            }
            &__image {
                position: absolute;
                bottom: -52px;
                right: 0;
                transition: all 0.3s ease;
            }
        }
    }
    &--level {
        padding-bottom: 96px !important;
        display: flex;
        flex-direction: column;
        align-items: start;
        background: #f2f3f5;
        .level-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__card {
                max-width: 400px;
                max-height: 480px;
                height: 480px;
                margin-right: 24px;
                background: #ffffff;
                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.02);
                border-radius: 12px;
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(1.1);
                }
                .card-image {
                    max-height: 50%;
                    height: 50%;
                    width: 100%;
                    border-radius: 12px 12px 0 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .card-content {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    padding: 24px;
                    width: calc(100% - 48px);
                    height: calc(50% - 48px);
                    &__header {
                        font-feature-settings: "pnum" on, "lnum" on;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 28px;
                        color: #000000;
                    }
                    &__content {
                        font-feature-settings: "pnum" on, "lnum" on;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #9097a3;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
    &--now {
        padding-bottom: 96px !important;
        background: #4598f6;
        display: flex;
        flex-direction: column;
        align-items: start;
        &:hover {
            .now-container__image {
                transform: scale(1.1);
            }
        }
        .now-header {
            font-feature-settings: "pnum" on, "lnum" on;
            font-weight: 700;
            font-size: 48px;
            line-height: 56px;
            color: #ffffff;
            margin-bottom: 24px;
            max-width: 754px;
        }
        .now-subheader {
            font-feature-settings: "pnum" on, "lnum" on;
            font-weight: 500;
            font-size: 20px;
            line-height: 23px;
            color: #ffffff;
            max-width: 754px;
            margin-bottom: 48px;
        }
        .now-container {
            display: flex;
            &__button {
                background-color: #fff;
                font-feature-settings: "pnum" on, "lnum" on;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #000000;
                height: fit-content;
                width: 219px;
                margin-right: 88px;
            }
            &__image {
                transition: all 0.3s ease;
            }
        }
    }
    &--help {
        padding-bottom: 131px !important;
        flex-direction: column;
        align-items: start;
        transition: all 0.3s ease;
        .section-header {
            max-width: 100%;
            width: 100%;
            transition: all 0.3s ease;
        }
        .faq-container {
            max-width: 766px;
            display: flex;
            flex-direction: column;
            align-items: start;
            .faq-block {
                width: 100%;
                max-height: 30px;
                padding-bottom: 32px;
                overflow: hidden;
                transition: all 0.3s ease;
                border-bottom: 1px solid #f2f3f5;
                margin-bottom: 34px;
                cursor: pointer;
                .faq-question {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 50px;
                    transition: all 0.3s ease;
                    &__content {
                        width: 694px;
                        font-feature-settings: "pnum" on, "lnum" on;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 28px;
                        color: #000000;
                        transition: all 0.3s ease;
                    }
                    .question-indicator {
                        width: 32px;
                        height: 32px;
                        background-color: none;
                        border-radius: 50%;
                        position: relative;
                        transition: all 0.3s ease;
                        margin-left: 24px;
                        .cross-one {
                            height: 2px;
                            width: 16px;
                            background-color: #4598f6;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            transition: all 0.3s ease;
                        }
                        .cross-two {
                            width: 2px;
                            height: 16px;
                            background-color: #4598f6;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            transition: all 0.3s ease;
                        }
                    }
                }
                .faq-answer {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    &__content {
                        font-feature-settings: "pnum" on, "lnum" on;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #9097a3;
                        transition: all 0.3s ease;
                    }
                    &__link {
                        margin-top: 21px;
                        font-feature-settings: "pnum" on, "lnum" on;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                        color: #4598f6;
                        transition: all 0.3s ease;
                        display: block;
                    }
                }
                &--active {
                    width: 100%;
                    max-height: 300px;
                    transition: all 0.3s ease;
                    .faq-question {
                        width: 100%;
                        margin-bottom: 22px;
                        transition: all 0.3s ease;
                        &__content {
                            max-width: 694px;
                            transition: all 0.3s ease;
                        }
                        .question-indicator {
                            width: 32px;
                            height: 32px;
                            background-color: none;
                            background: #4598f6;
                            transition: all 0.3s ease;
                            transform: rotate(45deg);
                            .cross-one {
                                background-color: #fff;
                                transition: all 0.3s ease;
                            }
                            .cross-two {
                                background-color: #fff;
                                transition: all 0.3s ease;
                            }
                        }
                    }
                }
            }
        }
        .help-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: start;
            .faq-questionary {
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: start;
                position: relative;
                padding: 32px;
                background: #eaf2fc;
                border-radius: 12px;
                min-height: 360px;
                max-width: 330px;
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(1.1);
                }
                .blue-circle {
                    position: absolute;
                    width: 308px;
                    height: 234px;
                    background: rgba(58, 114, 255, 0.5);
                    filter: blur(120px);
                    transform: rotate(-12.96deg);
                    left: 244.61px;
                    top: 137.05px;
                }
                &__image {
                    margin-bottom: 25px;
                }
                &__header {
                    font-feature-settings: "pnum" on, "lnum" on;
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 33px;
                    color: #000000;
                    margin-bottom: 12px;
                }
                &__subheader {
                    font-feature-settings: "pnum" on, "lnum" on;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    color: #000000;
                    margin-bottom: auto;
                }
                &__button {
                    width: calc(100% - 48px);
                }
            }
        }
    }
}

// =================== MAIN SECTION
// TEMPLATE STYLES  ===================
.apply-btn {
    padding: 14px 24px;
    font-feature-settings: "pnum" on, "lnum" on;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4598f6;
    border-radius: 4px;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

// FORM SECTION ===================
.dark-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000, $alpha: 0.5);
}

.apply-form {
    max-width: 446px;
    max-height: 686px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    padding: 60px;
    .form-close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 22.75px;
        height: 22.75px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .cross-one,
        .cross-two {
            display: block;
            background-color: #c2c2c2;
            width: 22.75px;
            height: 2px;
        }
        .cross-one {
            position: absolute;
            transform: rotate(45deg);
        }
        .cross-two {
            position: absolute;
            transform: rotate(-45deg);
        }
    }
    .form-header {
        font-feature-settings: "pnum" on, "lnum" on;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #000;
        margin-bottom: 13px;
    }
    .form-subheader {
        font-feature-settings: "pnum" on, "lnum" on;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-bottom: 32px;
    }
    label {
        width: 100%;
        position: relative;
    }
    .form-input {
        width: calc(100% - 40px);
        padding: 20px;
        height: 18px;
        background: #ffffff;
        border: 1px solid #eaeaea;
        border-radius: 8px;
        font-feature-settings: "pnum" on, "lnum" on;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #000;
        margin-bottom: 24px;
        position: relative;
        outline: none;
        &::placeholder {
            font-feature-settings: "pnum" on, "lnum" on;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #8e8e8e;
        }
        &--warning {
            border: 1px solid #cc0000;
            color: #f00;
        }
    }
    .form-caption {
        font-feature-settings: "pnum" on, "lnum" on;
        font-weight: 400;
        font-size: 11px;
        line-height: 14px;
        color: #8e8e8e;
        max-width: 325px;
    }
}

.applied-screen {
    max-width: 446px;
    max-height: 686px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
    padding: 80px 60px 60px;
    .form-close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 22.75px;
        height: 22.75px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .cross-one,
        .cross-two {
            display: block;
            background-color: #c2c2c2;
            width: 22.75px;
            height: 2px;
        }
        .cross-one {
            position: absolute;
            transform: rotate(45deg);
        }
        .cross-two {
            position: absolute;
            transform: rotate(-45deg);
        }
    }
    .applied-icon {
        margin-bottom: 24px;
        width: 115px;
        height: 132px;
    }
    .applied-header {
        font-feature-settings: "pnum" on, "lnum" on;
        font-weight: 700;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: #000000;
        margin-bottom: 13px;
    }
    .applied-subheader {
        font-feature-settings: "pnum" on, "lnum" on;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        color: #5f5f5f;
        text-align: center;
        margin-bottom: 32px;
        a {
            color: #4598f6;
            font-feature-settings: "pnum" on, "lnum" on;
            font-weight: 700;
        }
    }
}

.form-button {
    background-color: #4598f6;
    margin-top: 8px;
    padding: 18px 20px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%);
    font-feature-settings: "pnum" on, "lnum" on;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: none;
    margin-bottom: 12px;
    &--form {
        padding: 18px 40px;
        width: auto;
        border-radius: 8px;
        background: #4598f6;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        font-family: "Geometria";
        font-style: normal;
        font-feature-settings: "pnum" on, "lnum" on;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 10px;
        transition: all 0.3s ease;
        cursor: pointer;
    }
}

// =================== FORM SECTION
// TEMPLATE STYLES SECTION ===================
.empty--input::after {
    content: "Поле обязательно";
    font-feature-settings: "pnum" on, "lnum" on;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #f00;
    position: absolute;
    bottom: 8px;
    left: 0;
    display: block;
}

// =================== TEMPLATES STYLES SECTION
// JS STYLES ===================
.image-toggle--hidden {
    display: none !important;
}

.js--hidden {
    display: none !important;
}

.disable-body {
    overflow: hidden;
}

// =================== JS STYLES