@media screen and (max-width: 1500px) {
    .header {
        padding: 17px 100px;
        width: calc(100% - 200px);
        &__logo-container {
            .logo {}
            .logo-caption {}
        }
        &__navigation {
            .navigation-link {
                &:hover {}
            }
        }
        &__phone {
            &:hover {}
        }
        &__apply {}
    }
    .footer {
        padding: 17px 100px;
        width: calc(100% - 200px);
        .footer-row {
            width: 100%;
            display: flex;
            align-items: flex-start;
            &--smalled {
                display: flex;
                width: calc(100%);
            }
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: start;
        overflow-y: hidden;
        .section {
            padding: 96px 100px 28px;
            width: calc(100% - 200px);
        }
        &--greeting {
            padding: 153px 100px 96px !important;
            background: #f2f3f5;
            .greeting-container {
                .greeting-header {}
                .greeting-subheader {
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 28px;
                    color: #000000;
                    &__link {
                        color: #4598f6;
                    }
                }
            }
        }
    }
}

@media screen and(max-width:1400px) {
    .main {
        .section {}
        .section-header {}
        .section-container {}
        &--greeting {
            .greeting-container {
                .greeting-header {
                    font-size: 54px;
                    line-height: 65px;
                }
                .greeting-subheader {
                    &__link {
                        &:hover {}
                    }
                }
                .greeting-button {
                    width: 50%;
                }
            }
            .stats-container {
                &__header {}
                &__cards {}
                &__card {
                    min-width: 320px;
                    width: 33%;
                    .card-image {}
                    .card-header {}
                    .card-content {}
                }
            }
        }
    }
}

@media screen and(max-width:1300px) {
    .header {
        padding: 17px 50px;
        width: calc(100% - 100px);
        &__logo-container {
            .logo {}
            .logo-caption {}
        }
        &__navigation {
            .navigation-link {
                &:hover {}
            }
        }
        &__phone {
            &:hover {}
        }
        &__apply {}
    }
    .main {
        .section {
            padding: 96px 50px 28px;
            width: calc(100% - 100px);
        }
        &--greeting {
            padding: 96px 50px 28px !important;
            width: calc(100% - 100px);
            .greeting-container {
                .greeting-header {}
                .greeting-subheader {
                    font-size: 20px;
                    line-height: 25px;
                }
            }
            .greeting-image {
                width: 45%;
                img {
                    width: 100%;
                }
            }
        }
        .stats-container {
            &__header {}
            &__cards {}
            &__card {
                min-width: 270px;
                width: 33%;
                .card-image {}
                .card-header {}
                .card-content {}
            }
        }
    }
}

@media screen and(max-width:1200px) {
    .header {
        padding: 17px 50px;
        width: calc(100% - 100px);
        &__logo-container {
            .logo {}
            .logo-caption {}
        }
        &__navigation {
            .navigation-link {
                margin-right: 20px;
            }
        }
        &__phone {
            &:hover {}
        }
        &__apply {}
    }
    .main {
        .section {
            padding: 96px 50px 28px;
            width: calc(100% - 100px);
        }
        &--greeting {
            padding: 96px 50px 28px !important;
            width: calc(100% - 100px);
            .greeting-container {
                .greeting-header {}
                .greeting-subheader {
                    font-size: 20px;
                    line-height: 25px;
                }
            }
            .greeting-image {
                width: 45%;
                img {
                    width: 100%;
                }
            }
        }
        .stats-container {
            &__header {}
            &__cards {}
            &__card {
                min-width: 270px;
                width: 33%;
                height: 160px;
                max-height: 160px;
                .card-image {}
                .card-header {
                    font-size: 22px;
                }
                .card-content {}
            }
        }
    }
}

@media screen and(max-width:1100px) {
    .header {
        padding: 17px 50px;
        width: calc(100% - 100px);
        &__logo-container {
            margin-right: 20px;
        }
        &__navigation {
            .navigation-link {
                margin-right: 20px;
            }
        }
        &__phone {
            margin-right: 20px;
        }
    }
    .main {
        .section {
            padding: 96px 50px 28px;
            width: calc(100% - 100px);
        }
        &--greeting {
            .greeting-container {
                width: 45%;
                .greeting-header {}
                .greeting-subheader {
                    font-size: 20px;
                    line-height: 25px;
                }
            }
            .greeting-image {
                width: 55%;
                img {
                    width: 100%;
                }
            }
            .stats-container {
                &__header {}
                &__cards {}
                &__card {
                    min-width: 220px;
                    width: 33%;
                    height: 160px;
                    max-height: 160px;
                    .card-image {}
                    .card-header {
                        font-size: 22px;
                    }
                    .card-content {}
                }
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    .mobile-container--first-to-column {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        .contacts {
            margin-right: 0;
        }
        .apply-btn--footer {
            margin-bottom: 16px;
        }
    }
    .logo-container {
        .logo {
            &:hover {
                transform: scale(1);
            }
        }
    }
    .header {
        display: none;
    }
    .mobile-header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        background-color: #fff;
        z-index: 1000;
        width: calc(95vw);
        height: 39px;
        padding: 23px 2.5vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__burger-menu {
            width: 24px;
            height: 24px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: relative;
            transition: all 0.3s ease;
            span {
                background-color: #4598f6;
                width: 100%;
                height: 2px;
                border-radius: 2px;
                transition: all 0.3s ease;
            }
        }
        .logo-container {
            display: flex;
            align-items: center;
        }
        .logo-caption {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            margin-left: 12px;
        }
        &__burger-menu--active {
            width: 32px;
            height: 32px;
            transition: all 0.3s ease;
            .cross-one--mobile {
                position: absolute;
                transform: rotate(45deg);
                margin: auto;
                top: 0;
                bottom: 0;
            }
            .cross-two--mobile {
                position: absolute;
                transform: rotate(-45deg);
                margin: auto;
                top: 0;
                bottom: 0;
            }
            .cross-left {
                opacity: 0;
            }
        }
    }
    .mobile-menu {
        position: fixed;
        top: 86px;
        left: 0;
        z-index: 1000;
        display: none;
        flex-direction: column;
        align-items: start;
        justify-content: flex-start;
        background-color: #fff;
        width: calc(95vw);
        height: calc(100vh - 105px);
        padding: 0 2.5vw;
        padding-top: 40px;
        transition: all 0.3s ease;
        transform: translateX(120vw);
        .navigation {
            flex-direction: column;
            width: 100%;
            display: flex;
            align-items: start;
            margin-bottom: 32px;
            height: fit-content;
            &-link {
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;
                margin-bottom: 24px;
            }
        }
        .contacts {
            margin-bottom: 24px;
            margin-top: 16px;
            a {
                font-weight: 700;
                font-size: 26px;
                line-height: 19px;
            }
        }
        .apply {
            width: 100%;
            justify-content: flex-start;
        }
        .apply-btn {
            width: 100%;
            max-width: 480px;
        }
        &--active {
            transform: translateX(0);
            display: flex;
        }
    }
    .main {
        .section {
            padding: 96px 50px 28px;
            width: calc(100% - 100px);
        }
        &--greeting {
            .greeting-container {
                width: 50%;
                .greeting-header {}
                .greeting-subheader {
                    font-size: 18px;
                    line-height: 24px;
                }
            }
            .greeting-image {
                width: 50%;
                img {
                    width: 100%;
                }
            }
            .stats-container {
                &__header {}
                &__cards {}
                &__card {
                    min-width: auto;
                    width: 33%;
                    height: 160px;
                    max-height: 160px;
                    .card-image {}
                    .card-header {
                        font-size: 22px;
                    }
                    .card-content {}
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .main {
        .section {
            padding: 96px 50px 28px;
            width: calc(100% - 100px);
        }
        &--greeting {
            .section-container {
                display: flex;
                flex-direction: column;
                align-items: start;
            }
            .greeting-container {
                width: 100%;
                .greeting-header {
                    font-size: 50px;
                    line-height: 56px;
                    margin-bottom: 20px;
                }
                .greeting-subheader {
                    span {
                        text-transform: lowercase;
                    }
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
            }
            .greeting-image {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .stats-container {
                &__header {
                    font-size: 26px;
                    line-height: 30px;
                }
                &__cards {
                    flex-wrap: wrap;
                }
                &__card {
                    min-width: auto;
                    width: 100%;
                    height: 160px;
                    max-height: 160px;
                    margin-bottom: 12px;
                    margin-right: 0;
                    .card-image {}
                    .card-header {
                        font-size: 24px;
                        line-height: 28px;
                    }
                    .card-content {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .mobile-container--second-to-column {
        flex-direction: column;
        display: flex;
        align-items: start;
        .navigation {
            margin-right: 0;
            width: 100%;
            margin-bottom: 16px;
        }
    }
    .mobile-container--first-to-column {
        flex-direction: column-reverse;
        align-items: start;
        .contacts {
            width: 100%;
        }
    }
    .apply-form,
    .applied-screen {
        padding: 45px 20px;
        max-width: 446px;
        width: 80%;
        .form-close {
            top: 20px;
            right: 20px;
        }
    }
    .main {
        .section {
            padding: 96px 50px 28px;
            width: calc(100% - 100px);
        }
        &--greeting {
            .section-container {
                display: flex;
                flex-direction: column;
                align-items: start;
            }
            .greeting-container {
                width: 100%;
                .greeting-header {
                    font-size: 50px;
                    line-height: 56px;
                    margin-bottom: 20px;
                }
                .greeting-subheader {
                    span {
                        text-transform: lowercase;
                    }
                    font-size: 18px;
                    line-height: 24px;
                    margin-bottom: 20px;
                }
                .greeting-button {
                    width: calc(100% - 48px);
                    margin-bottom: 32px;
                }
            }
            .greeting-image {
                width: 100%;
                max-height: 323px;
                height: 323px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .stats-container {
                &__header {
                    font-size: 26px;
                }
                &__cards {
                    flex-wrap: wrap;
                }
                &__card {
                    min-width: auto;
                    width: 100%;
                    height: 160px;
                    max-height: 160px;
                    margin-bottom: 12px;
                    margin-right: 0;
                    .card-image {}
                    .card-header {
                        font-size: 24px;
                    }
                    .card-content {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .mobile-menu {
        .navigation {
            &-link {
                font-size: 18px;
                margin-bottom: 12px;
            }
        }
        .contacts {
            a {
                font-size: 24px;
            }
        }
        .apply-btn {
            width: 100%;
            max-width: 248px;
        }
    }
    .main {
        .section {
            padding: 96px 25px 28px;
            width: calc(100% - 50px);
        }
        &--greeting {
            padding: 50px 25px 28px !important;
            width: calc(100% - 50px);
            .section-container {
                display: flex;
                flex-direction: column;
                align-items: start;
            }
            .greeting-container {
                width: 100%;
                .greeting-header {
                    font-size: 32px;
                    line-height: 38px;
                    margin-bottom: 20px;
                }
                .greeting-subheader {
                    span {
                        text-transform: lowercase;
                    }
                    font-size: 20px;
                    line-height: 23px;
                    margin-bottom: 20px;
                }
                .greeting-button {
                    width: calc(100% - 48px);
                    margin-bottom: 32px;
                }
            }
            .greeting-image {
                width: 100%;
                max-height: 323px;
                height: 323px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .stats-container {
                &__header {
                    font-size: 16px;
                    line-height: 19px;
                }
                &__cards {
                    flex-wrap: wrap;
                }
                &__card {
                    min-width: auto;
                    width: 100%;
                    height: 160px;
                    max-height: 160px;
                    margin-bottom: 12px;
                    margin-right: 0;
                    .card-image {}
                    .card-header {
                        font-size: 20px;
                        line-height: 23px;
                    }
                    .card-content {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}